body{
    background-color: #e8ece7;}

.container{
    display:inline-block;
    margin: 10px;
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 40px;
    padding: 10px;
}

.img{
    display: inline-block;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius:20px;
    padding: 30px;
    margin: 20px;
}